h1{
background-color:rgb(83, 83, 255);
}

p{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;
font-size: larger;
}

h2{
background-color: rgb(83, 83, 255);
}

.section{
font-weight: bolder;
font-size: larger;
}

.subsection{
font-weight: bolder;
font-size: larger;
color: white;
background-color: black
}